* {
  font-family: helvetica;
  text-align: center;
}

h1{
color: blue;
text-align: center;
}

.navigatorli {
  list-style-type: none;
  display: inline;
  padding: 14px 16px;
  
  .bodybox {
  border-style: solid;
  border-color: black;
    width: 50%;
    margin: 5px 20px 5px 20px
  flat: left;
  }
}
